.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.settings/
.classpath
.project

amb/moondeity-x-phonk-killer-death-dagger/
amb/moondeity-x-phonk-killer-electric-shock/
amb/moondeity-x-phonk-killer-megalomania/
amb/mr-tom-spacesynth/

bin/
stardust_lib/
stardust-beta_lib/
lwjgl2v1.1_stardust_migration.txt
lwjgl3java17_stardust_release_migration.txt
build-local.cmd
run-local.cmd
build-args
stardust-cyrillic.txt
stardust.jar
stardust-beta.jar